<div style="position:fixed;">
<a href="https://twitter.com/reyre_">
  <img style="display:block; max-width:40px;" src="/assets/img/icons/twitter.png" alt="Twitter Icon" 
    title="Follow me on Twitter" />
</a>
<a href="https://github.com/RickEyre">
  <img class="icon" src="/assets/img/icons/github.png" alt="GitHub Icon" 
    title="Check out my work on Github" />
</a>
<a href="https://bitbucket.org/RichardEyre">
  <img class="icon" src="/assets/img/icons/bit-bucket.jpg" alt="BitBucket Icon"
    title="Check out my work on BitBucket" />
</a>
<a href="http://www.linkedin.com/in/eyrerichard">
  <img class="icon" src="/assets/img/icons/linkedin.png" alt="LinkedIn Icon"
    title="See my career info on LinkedIn" />
</a>
<a href="mailto:rick.eyre@hotmail.com">
  <img class="icon" src="/assets/img/icons/email.png" alt="Email Icon"
    title="Email me" />
</a>
</div>
