<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="/assets/css/flatly/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/tomorrow-night.css" />
<link rel="shortcut icon" href="/assets/img/reyre.png" />
<link rel="icon" type="image/x-icon" href="/assets/img/reyre.png" />
<link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/assets/js/jquery.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/socialite.min.js"></script>
<script type="text/javascript" src="/assets/js/prettify.js"></script>
