html body {
  background-image: url("/assets/img/background/fabric-of-squares-gray.png");
  background-repeat: repeat;
}

footer {
  text-align:center;
}

h1 {
  font-size: 40px;
}

.main-header {
  margin: 20px 0px 20px;
}

.content {
  padding-left: 40px;
  padding-right: 40px;
}

.inline-content {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 25px;
  max-width: 90%;
}

.tag-line {
  color:#999;
  font-size: 20px;
}

.small-tag-line {
  clear: left;
  display: block;
  padding-top: 2%;
  line-height:1;
  color:#999;
}

.caption {
  display: block;
  color:#999;
  font-size: small;
}

div.image-list > div {
  float: left;
}

div.image-list > div, .image {
  margin: 2%;
}

.icon {
  max-width: 30px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}

.post-title {
  margin-top: 1px;
  margin-bottom: 15px;
}

.prettyprint {
  font-size: 0.8em;
}
