footer {
  text-align:center;
}

ol {
  padding-top: 5px;
}

ul {
  padding-top: 5px;
}

h1 {
  font-size: 40px;
}

.main-header {
  margin: 20px 0px 20px;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nested-content {
  padding-left: 20px;
  padding-right: 20px;
}

.inline-content {
  padding-top: 10px;
  padding-bottom: 25px;
}

.tag-line {
  line-height:1;
  color:#999;
  font-size:22.5px;
}

.small-tag-line {
  line-height:1;
  color:#999;
}

.caption {
  color:#999;
  font-size: small;
}

.icon {
  max-width: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  padding-left: 5px;
}
