<!DOCTYPE html>
<html lang="en">
  <head>
    <title> {{ page.title }} </title>
    {% include includes.html %}
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          {% include header.html %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="content">
            <span class="tag-line">{{ page.date | date_to_string }}</span>
            <h2>{{ page.title }}</h2>
              {{ content }}
            <small class="small-tag-line inline-content">- Tagged in {{ page.tags | array_to_sentence_string }}.</small>
            <hr/>
            {% include disqus.html %}
            <hr/>
            {% include footer.html %}
            {% include analytics.html %}
          </div>
        </div>
        <div class="col-md-1">
          {% include contact-me.html %}
        </div>
      </div>
    </div>
  </body>
</html>
